<h1>Chart#index</h1>
<div class = "row text-center">
  <div class = "col-md-12">
    <h3>Total Options Issued</h3>
    <%= tag.div id: 'optionOutstanding-pie-chart', data: { options: options_outstanding.to_json }, style: "height: 250px;" %>
  </div>
</div>
