# Git
.git
.gitignore

# Logs
log/*

# Temp files
tmp/*

# Editor temp files
*.swp
*.swo

# Environment variables
.env_dev
.env_prod
docker-compose.staging.yml
docker-compose.prod.yml
Dockerfile_prod
