

<div class="table-responsive">
  <table id="advisorsTable" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Board</th>
      <th>Start date</th>
      <th>Term</th>
      <th>Compensation</th>
      <th>Notes</th>
      <th>Status</th>
      <th>View</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Person Name</td>
        <td>Advisory</td>
        <td>01/01/2020</td>
        <td>3</td>
        <td>150</td>
        <td>This and that.></td>
        <td align="center">

            <span class="fa fa-check-circle" style="color: green"></span>

        </td>
        <td align="center">

            <%= link_to image_pack_tag("pdf_icon.png"), chart_index_path %>

        </td>
      </tr>

    </tbody>
  </table>
</div>

