// example override bootswatch variables
$primary:       #28b62c;
$secondary:     #37474f;
$success:       #ff1cea;
$info:          #03a9f4;
$warning:       #fbe42c;
$danger:        #ff4136;
$light:         #eeeeee;
$dark:          #444444;
// end example override

$colors: (
        major: #00D252,
        minor: #2F3B59
);