

<li class="nav-link"><%= link_to "Home", home_index_path %></li>
<li class="nav-link"><%= link_to "Table", table_index_path %></li>
<li class="nav-link"><%= link_to "Chart", chart_index_path %></li>
<li class="nav-link"><%= link_to "Form", form_index_path %></li>

